// Major Second typographical rhythm from https://type-scale.com/

html {
    font-size: 100%; /*16px*/
}

body {
    background-color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #333;
}

pre, code, kbd {
    font-family: 'Fira Mono', monospace;
    font-size: 0.9em;
    color: navy;
}

p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.head1, .head2, .head3, .head4, .head5 {
    margin: 2.0rem 0 1.0rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    line-height: 1.15;
    text-indent: -2.5rem;
}

.head1.title {
    margin-top: 0;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    font-size: 2em;
}

.head1 {
    font-size: 1.7em;
}

.head1+.head2 {
   margin-top: 0;
}

.head2 {
    font-size: 1.5em;
}

.head2+.head3 {
   margin-top: 0;
}

.head3 {

    font-size: 1.333em;
}

.head4,
.head5,
.head6 {
    color: red;
    :before {
	content: "We only allow H1, H2, or H3 headings in body content."
    }
}

small, .text_small {
    font-size: 0.889em;
}

dd, pre {
    margin-left: 20px;
}

dt {
   margin-top: 1rem;
}

ul {
   margin-top: 0;
   margin-bottom: 0;
}

article ul li, 
article ul li p, 
dd p {
   margin-top: 0.7rem;
   margin-bottom: 0.7rem;
}

.head1 a:link,
.head2 a:link,
.head3 a:link {
   opacity: 0;
   font-size: 1.33rem;
   color: dimgrey;
   text-decoration: none;
   width: 2.5rem;
   display: inline-block;
   vertical-align: middle;
   text-indent: 0;
}

.head1:hover a,
.head2:hover a,
.head3:hover a
{
   opacity: 1;
}

nav ol,
nav ol li,
nav ol li ol
{
   list-style-type: none;
   padding-left: 1em;
   margin-left: 0;
   text-indent: 0;
}

nav ol
{
   padding-left: 0em;
}
