{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<article role="main">

    <p class="title depth-1 head1">
        {{ .Site.Title | markdownify }}
    </p>

    {{ .Content }}

    {{ if .IsTranslated }}
    <h4>{{ i18n "translations" }}</h4>
    <ul>
        {{ range .Translations }}
        <li><a href="{{ .RelPermalink }}">
            {{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}
        </a></li>
        {{ end }}
    </ul>
    {{ end }}
</article>

{{ end }}

